.submitButton {
  composes: btn btn-primary from 'basscss/css/basscss.css';
}

.radioButton {
  composes: btn btn-outline mb1 black from 'basscss/css/basscss.css';
  margin: 20px 5px;
}

.activeRadioButton {
  composes: btn btn-primary mb1 black bg-aqua from 'basscss/css/basscss.css';
  margin: 20px 5px;
}
